<br>
<form id="project-form" method="POST" action="/tasks/editTask">
    <label for="title">Title:</label>
    <input type="text" name="title" id="title" value="{{Task.title}}">
    <input type="hidden" id="taskid" name="taskid" value="{{Task._id}}">
    {{!-- <label for="timespent">Time spent in minutes</label>
    <input type="number" id="timespent" name="timespent" min="0" max="999" value="{{Task.timespent}}"> --}}
    <label for="deadline">Deadline:</label>
    {{!-- <input type="date" id="deadline" name="deadline" value="{{Project.deadline}}" min="2020-01-01" max="2021-12-31">
    <input type="time" id="duetime" name="duetime" value="00:00"> --}}
    <input type="datetime-local" id="deadline" name="deadline" value="2020-08-22T00:00" />
    <label for="assignedTo">Assign the task:</label>
    <select name="assignedTo" id="assignedTo">
        {{#each userList}}
        <option value={{_id}}>{{firstName}} {{lastName}}</option>
        {{/each}}
    </select>
    <button type="Submit" value="Submit">Submit</button>
    {{#if error}}
    <p class="error">Please complete all fields</p>
    {{/if}}

</form>