  <h1 class='bio_title'>Your Bio</h1>

    <p>User Name: {{username}}</p><br>
    <p>First Name: {{firstName}}</p><br>
    <p>Last Name: {{lastName}}</p><br>
    <p>Profession: {{description}}</p><br>
    <p>email: {{email}}</p><br>
    <a href = "/logout" >logout</a>
