  <h1 class='bio_title'>Your Bio</h1>

    <p>User Name: {{User.username}}</p><br>
    <p>First Name: {{User.firstName}}</p><br>
    <p>Last Name: {{User.lastName}}</p><br>
    <p>Profession: {{User.description}}</p><br>
    <p>email: {{User.email}}</p><br>
    <h2>Your Current Tasks</h2>
    <div class="row">
    {{#if CreatedCount}}
       {{#each Tasks}}
          <div class="tasks">
              <div class="task">
                <div class="removetask">
                <form method="POST" action="/tasks/deletetask/{{_id}}">
                <input id="removetask" type="submit" value="&#10006;"/>
                </form>
                </div>
                <h3>{{title}}</h3>
                <p>{{description}}</p>
                <p>deadline: {{deadline}}</p>
                <p>Assigned to: {{name}}</p>
                <p>Time Spent: {{timespent}} minutes</p>
                <a href= "/tasks/edit/{{_id}}">Edit Task</a>
            </div>
            <br>
        </div>
      {{/each}}
    {{else}}
        <h3>You have no tasks assigned to you yet.</h3>
    {{/if}}
    </div>
    <a href = "/logout" >logout</a>
