<h2>Your Created Projects</h2>
<div class="row">
{{#each CreatedProjects}}
    <div class="column">
        <div class="card">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>deadline: {{deadline}}</p>
        </div>
    </div>
{{/each}}
</div>
<h2>Your Team Projects</h2>
<div class="row">
{{#each TeamProjects}}
    <div class="column">
        <div class="card">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>deadline: {{deadline}}</p>
        </div>
    </div>
{{/each}}
</div>