<form method="POST" action="/projects/deleteproject/{{Project._id}}">
    <input type="submit" value="&#10006;" />
</form>
<h2>{{Project.title}}</h2>
<p>{{Project.description}}</p>
<p>Owner: {{Creator.firstName}} {{Creator.lastName}}</p>
<p label="deadline" id="deadline">Deadline: {{Project.deadline}}</p>
<p>Time worked on project: {{Time}} minutes</p>
<p>Members:{{TeamMembers}}</p>
<a href="/projects/edit/{{Project._id}}">Edit Project</a>
<br>
<a href="/tasks/{{Project._id}}">Add Task</a>
<div class="row">
    <h3>Tasks</h3>
    {{#each Tasks}}
    <div class="tasks">
        <div class="task">
            <div class="removetask">
                <form method="POST" action="/tasks/deletetask/{{_id}}">
                    <input id="removetask" type="submit" value="&#10006;" />
                </form>
            </div>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>deadline: {{deadline}}</p>
            <p>Assigned to: {{name}}</p>
            <p class="timespent">Time Spent: {{timespent}} minutes</p>
            <a href="/tasks/edit/{{_id}}">Edit Task</a>
            <a href="/tasks/start/{{_id}}">Start</a>
        </div>
        <br>
    </div>
    {{/each}}
</div>
