<h2>{{Project.title}}</h2>
<p>{{Project.description}}</p>
<p>Owner: {{Project.creator}}</p>
<p>Deadline: {{Project.deadline}}</p>
<p>Time worked on project: {{Project.time}}</p>
<p>Members: {{Project.members}}</p>
<div class="row">
<h3>Tasks</h3>
{{#each Tasks}}
    <div class="column">
        <div class="card">
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>deadline: {{deadline}}</p>
            <p>Assigned to: {{assignedTo}}</p>
        </div>
    </div>
{{/each}}
</div>
