<form method="POST" action="/projects/deleteproject/{{Project._id}}">
    <input type="submit" value="&#10006;" />
</form>
<h2>{{Project.title}}</h2>
<p>{{Project.description}}</p>
<p>Owner: {{Creator.firstName}} {{Creator.lastName}}</p>
<p label="deadline" id="deadline">Deadline: {{Project.deadline}}</p>
<p id="projecttime">Time worked on project: {{hour Project.time}} hour {{minute Project.time}} minute {{second Project.time}} second</p>
<p>Members:{{TeamMembers}}</p>
<a href="/projects/edit/{{Project._id}}">Edit Project</a>
<br>
<a href="/tasks/{{Project._id}}">Add Task</a>
<div class="row">
    <h3>Tasks</h3>
    {{#each Tasks}}
    {{!-- <div class="tasks" id="tasks">
        
    </div> --}}
    <div class="task" id="{{_id}}">
            {{!-- <div class="removetask">
                <form method="POST" action="/tasks/deletetask/{{_id}}">
                    <input id="removetask" type="submit" value="&#10006;" />
                </form>
            </div> --}}
            {{!-- <button type="button" value="&#10006" id="removetask" data-id="{{_id}}"></button> --}}
            {{!-- <input class="removetask" type="submit" onClick="remove(this)" data-id="{{_id}}" value="&#10006;"/> --}}
            <button type="button" class="removetask" data-id="{{_id}}">×</button>
            <h3>{{title}}</h3>
            <p>{{description}}</p>
            <p>Deadline: {{deadline}}</p>
            <p>Assigned to: {{name}}</p>
            <p>Time worked on task: {{hour timespent}} hour {{minute timespent}} minute {{second timespent}} second
            </p>
            <a href="/tasks/edit/{{_id}}">Edit Task</a>
            <a href="/tasks/start/{{_id}}">Start</a>
        </div>
        <br>
    {{/each}}
</div>
<script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
    crossorigin="anonymous"></script>
<script src="/public/js/project.js"></script>


